<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>selfigram.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4CF104271C3F5DD500AFB397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CF1043B1C3F5DD600AFB397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CF104461C3F5DD600AFB397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
